<div class="d-flex">

    <app-sidenav></app-sidenav>

    <main class="container">

        <header class="row p-3">
            <article class="col">
                <h5>Busrcar:</h5>
                <input type="text" class="form-control" placeholder="Buscar gifs...">
            </article>
        </header>

        <hr>

        <section class="row">
            <article class="col">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore sit suscipit quod. Harum, ipsa debitis
                libero, officiis sint id earum illo, possimus quidem ut voluptas corrupti alias tenetur laboriosam esse!
            </article>
        </section>

    </main>

</div>